html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #003049;
}

h1 {
  font-size: 2rem;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  vertical-align: middle;
}

h2 {
  margin-top: 5%;
  text-align: center;
}

h5 {
  font-weight: 900;
}

p {
  font-family: "Montserrat", sans-serif;
  /* text-align: center; */
  padding-top: 50px;
  color: #003049;
}

hr {
  margin: 50px auto 0;
}

em {
  color: #fdf0d5;
}

.container-fluid {
  padding: 3% 7%;
}

.download-button {
  margin: 10px 3px;
}

/* NAVIGATION BAR */

.navbar {
  padding: 1% 10% 1%;
  background-color: #fdf0d5;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #003049;
}
.navbar-nav {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
  align-items: center;
  margin-left: auto;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  color: #003049;
}

.logo-img {
  padding-top: 5%;
  width: 140px;
}

/* TITLE */

#title {
  background-color: #003049;
  color: #fdf0d5;
  text-align: center;
  height: 40%;
  padding-bottom: 10%;
}

.title {
  padding: 0 auto;
}

.title-text {
  margin-top: 25%;
}

.title-img {
  max-width: 100%;
  height: auto;
  padding-top: 5%;
}

.galery-img {
  max-width: 100%;
  height: auto;
  padding-top: 5%;
  top: 20%;
  left: 60%;
}



/* APARTMANI */

#apartmani {
  text-align: center;
}

.card-section-style {
  margin: 50px auto;
}
.card {
  margin: auto;
}

.card-size {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-text {
  padding-top: 20px;
}

/* FEATURES */

#features {
  background-color: #fdf0d5;
  text-align: center;
  padding: 10% 5%;
  font-size: 1.2rem;
}

.fa-solid {
  margin-top: 15%;
  font-size: 3.5rem;
}

/* REVIEWS */

#reviews {
  padding: 7% 15%;
  text-align: center;
  background-color: #003049;
}

.carousel-inner {
  padding: 5% 10%;
}
.review-images {
  margin: 20px;
  width: 14%;
  border-radius: 10%;
}

.font-light {
  margin-bottom: 50px;
  font-size: 1.2rem;
  color: #fdf0d5;
}

.carousel-control-prev {
  left: -30px;
}

.carousel-control-next {
  right: -30px;
}

.utisci {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  color: #fdf0d5;
  padding-top: 4%;
  margin-top: 10%;
  margin-bottom: 0px;
}

/* LINKS */

#links {
  background-color: #fdf0d5;
  padding: 10% 15% 5%;
  color: #003049;
}

a {
  color: #003049;
}

.links-style {
  text-align: center;
}

.links-font-size {
  margin: 0 20px;
  font-size: 1rem;
}

/* LOKACIJA */

#lokacija {
  padding: 3% 7% 10%;
  background-color: #003049;
  text-align: center;
}

.map {
  width: 70%;
}

/* BUTTON SETTINGS */

.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #003049;
  font-size: 15px;
  background: #fdf0d5;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  --bs-btn-border-width: 0px;
}

.btn:hover {
  background: #fdf0d5;
  background-image: -webkit-linear-gradient(top, #fdf0d5, #a89877);
  background-image: -moz-linear-gradient(top, #fdf0d5, #a89877);
  background-image: -ms-linear-gradient(top, #fdf0d5, #a89877);
  background-image: -o-linear-gradient(top, #fdf0d5, #a89877);
  background-image: linear-gradient(to bottom, #fdf0d5, #a89877);
  text-decoration: none;
}

/* ANIMATIONS & TRANSITIONS */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s ease-in;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-350px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(350px);
  }

  to {
    transform: translateX(0);
  }
}
.slide-from-left {
  animation: slideFromLeft 2s ease-in, fade-in 2s ease-in;
}
.slide-from-right {
  animation: slideFromRight 2s ease-in;
}

/* FORM */

#form {
  background-color: #003049;
  color: #fdf0d5;
  text-align: center;
  padding-bottom: 10%;
}


/* SCREEN OPTIMIZATION */

@media only screen and (min-width: 992px) {
  .title-img {
    width: 50%;
    margin: 6px 0;
    padding-top: 0 auto;
  }

  #title {
    padding-bottom: 1%;
  }

  .title-text {
    margin-top: 25%;
  }  

  section#features {
    padding: 5% 10%;
  }

  p {
    padding-top: 50px;
  }

  p.utisci {
    padding-top: 0%;
    margin-top: 0;
  }
  
  #links {
    padding: 2% 20%;
  }
}


@media only screen and (max-width: 460px) {
  .title-img {
    width: 100%;
  }

  .title-text {
    margin-top: 0%;
  }
}